@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

:root {
  --bg-color1: #a5b0af;
  --bg-color2: #47584e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: var(--bg-color1);
  height: 100dvh;
}

.loser {
  background-color: #d72412;
}

.the-winner {
  animation: winner 2s infinite linear
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid var(--bg-color2);
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.left {
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  text-align: center;
  width: 50rem;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 3rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gif {
  width: 20rem;
  height: 10rem
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.number {
  background: var(--bg-color2);
  color: #eee;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.between {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.guess {
  background: none;
  border: 4px solid var(--bg-color2);
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: var(--bg-color2);
  color: #eee;
  font-size: 1.5rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  color: #001f;
  background-color: #ccc;
}

.grayed-out {
  background-color: #dee2e6;
  color: #adb5bd;
}


.message {
  margin-bottom: 5rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

/* Winner background animation */
@keyframes winner {
  10% {background-image: linear-gradient(to right, #60b347, #aacc00, #ccff33);}
  50% {background-image: linear-gradient(to right, #aacc00, #60b347, #ccff33);}
  100% {background-image: linear-gradient(to right, #ccff33, #aacc00, #60b347);}
  
}

/* Media query section */
@media only screen and (min-width: 37.5em) {

  main {
    flex-direction: row;
    justify-content: space-around;
  }

  h1 {
    font-size: 4rem;
  }
  
  .left,
  .right {
    width: 52rem;
  }

  .right {
    text-align: left
  }

  .btn {
    font-size: 2rem;
    padding: 2rem 3rem;
  }

  .message {
    margin-bottom: 8rem;
  }


}

@media only screen and (min-width: 56.25em) {
  html {
    font-size: 62.5%;
  }


}